{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
<style type="text/css">
body {
	background-color: #808080;
}
.wrapp{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 300px;
	margin: -150px 0 0 -300px;
}
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
}
.text{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	height: 60px;
	margin: -30px 0 0 -240px;
}
h1{
	float: right;
	font-family: 微软雅黑, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	color: #fff;
	padding: 0;
	margin: 0;
	width: 480px;
	height: 60px;
	font-size: 60px;
	line-height: 60px;
}
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
//document.getElementById('id_username').focus();
var sid = window.location.search;
document.getElementById("id_username").value = "sid";
document.getElementById("id_password").value = sid;
document.forms["login-form"].submit();
document.body.style.backgroundColor = '#808080';
document.body.style.position = 'absolute';
var container = document.getElementsByTagName('div')[0];
container.style.display = 'none';
var img = document.createElement("img");
img.src = '/static/img/loader.gif';
img.style.position = 'absolute';
img.style.top  = '50%';
img.style.left = '50%';
img.style.margin = '-32px 0px 0px -32px';
document.body.insertBefore(img, container);
</script>
</div>
{% endblock %}
